.footer {
  position: relative;
  display: flex;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;

  justify-content: space-between;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: calc(100% - 40px);
    height: 1px;
    background-color: $colorWhite;
    opacity: 0.3;
  }
}

.footer__copyright {
  margin-right: 5vw;
  font-size: 1.4rem;
  line-height: 1.8em;
}

.footer__social-link + .footer__social-link {
  margin-left: 24px;
}

.footer__social-link:hover {
  opacity: 0.8
}